<h1>Persons</h1>

<p class="text-right">
  <a routerLink="/persons/create" class="btn btn-success">New</a>
</p>

<table *ngIf="persons" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <!--No uso corchetes para poder pasar id. Investigar pros y contras-->
      <td>
        <a routerLink="/persons/{{person.id}}/update" class="btn btn-primary">
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        </a>
        |
        <a routerLink="/persons/{{person.id}}" class="btn btn-info">
          <span class="glyphicon glyphicon-eye"></span>
          Ver
        </a>
        |
        <a routerLink="/persons/{{person.id}}/delete" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span>
          Eliminar
        </a>
      </td>
    </tr>
  </tbody>
</table>